body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flexible-section {
    display: flex;
    margin-bottom: 150px;

}

.holeimg {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 100%;
    padding-left: 10%;
}

.half-width p {
    color: rgb(71, 70, 70);
    width: 75%;
    text-align: justify;
}

.half-width img {
    width: 90%;
    margin-top: 10%;
}

.mybtn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #F78868ed, #FB6354);
    padding: 9px 32px 9px;
    margin-top: 10px;
    float: left;
    border-radius: 3px;
    font-weight: bolder;
}

.mybtn:hover {
    background: linear-gradient(45deg, #FB6354, #F78868ed);

}

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.widthsec {
    padding: 0;
}

.Experience-aria {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.boxes {
    box-shadow: 5px 5px 20px 2px rgba(44, 43, 43, 0.26);
    border-radius: 7px;
    margin-right: 2%;
    margin-left: 5%;
    padding: 25px;
    border-left: 3px solid linear-gradient(black, yellow);
}

.boxes p {
    font-size: 18px;
}

.box2 {
    margin-left: 0;
}